body {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
background-color: white;
   color: black;
}
.navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #b68973;
      padding: 15px 30px;
}
.Logo {
    color: white;
    font-size: 1.5em;
    margin: 0;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
.nav-links a {
     color: white;
     text-decoration: none;
     font-weight: bold;
}
.nav-links a:hover {
  color: #f0d6b6;
}
.hero {
    text-align: center;
    padding: 60px 20px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
.menu {
    padding: 40px 20px;
    text-align: center;
}
.menu_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    gap: 20px;
    margin-top: 20px;
}
.menu-card {
    background-color: white;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
}
.menu-card img {
    width: 100%;
}
.contact-map iframe {
    width: 50%;
    height: 100px;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.contact-map iframe {
        height: 300px; 
    }